.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
capstone-sentiment-analysis/bin/
capstone-sentiment-analysis/include/
capstone-sentiment-analysis/lib/
capstone-sentiment-analysis-venv/
*venv/
*.cfg
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover